*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main{
    display: flex;
    height: 94vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #000;
    color: #fff;
    border-top: solid 2px #fff;
}

#main img{
    width: 30%;
}

#main span{
    font-size: 3em;
}

#main button{
    height: 3em;
    width: 200px;
    padding: 10px;
    background-color: inherit;
    color: #444;
    font-weight: bold;
    border: solid 2px #111;
    border-radius: 5px;
}

#main button:hover {
    color: #fff;
    border-color: #fff;
    transition: color 1.5s;
    transition: border 1.5s;
}
