*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 60px;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .left {
    position: relative;
    left: 10px;
    align-items: center;
    display: inline-flex;
}

.header .left span{
    position: relative;
    left: 10px;
}

.header .left img{
    border-radius: 50%;
    height: 60px;
}

/*Right Side*/

.header nav{
    margin-right: 10px;
}

.header nav ul{
    list-style-type: none;
    display: inline-flex;
    align-items: center;
}

.header nav ul li{
    display: inline-block;
    margin: 0 5px;
}

.header nav ul li:hover{
    text-decoration: underline;
    font-size: 1.1em;
    text-underline-offset: 4px;
}

.header nav ul li button{
    width: auto;
    padding: 6px;
    background-color: orange;
    color: #fff;
    border-radius: 7px;
    border-color: #fff;
}

nav img{
    height: 38px;
    display: none;
}

/*Ending Right Side*/

@media screen and (max-width: 600px){
    nav img {
        display: block;
        cursor: pointer;
    }

    .header nav {
        justify-content: flex-end;
    }

    .header nav ul{
        flex-direction: column;
        position: fixed;
        top: 60px;
        right: 0px;
        background-color: #000;
        width: 100%;
        height: 50vh;
        justify-content: space-around;
    }
}